.description-box {
  @include relative-font-size(1.8);

  padding-bottom: 3rem;
  margin-bottom: 2rem;
  

  a {
    color: $text-color;
    &hover {}
  }

  &:before, &:after {
    content: "";
  }

  border-bottom: 1px outset $text-color;
  
}


